*,
::after,
::before {
    border: 0;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    outline: 0;
}

:root {
    --header-height: 45px;
    --border-color: #E4E6EB;
    --outline-color: orange;
    --header-height-mob: 50px;
    --color-dark:  #0e1318;
    --header-height-c: 48px;
    --color-dark-fully: rgba(0, 0, 0, 1);
    --header-background-color: #FEFFFE;
    /* #0272B3 !important; */
    --header-height-c: 60px;
    --header-height-mobile: 89px;
    --search-form-1400: 260px;
    --search-1020-right: 240px;
    --margin-1020px: 0 25px;
    --color-text-header: white;
    --search--mobile: 10px;
    --search--1024: 10px;
    --search-1400px: 1400px;
    --color-light-border: #F2F3F3;
    --color-bor: #0F1111 !important;
    --height: 49px;
    --cellWidth: 65px;
    --selectedColor: #349AEF;
    --button-auth-color: #2472B3;
    /* colors */
    --i1dW: 38,38,38;
    --edcW: 199,199,199;
    --f75W: 38,38,38;
    --fe0W: 0,55,107;
    --d87W: 255,255,255;
    --b3fW: 250,250,250;
    --bb2W: 239,239,239;
    --f23W: 255,255,255;
    --b38W: 219,219,219;
    --b6aW: 219,219,219;
    --ca6W: 219,219,219;
    --cddW: 38,38,38;
    --e22W: 199,199,199;
    --e62W: 245,251,255;
    --b2fW: 88,195,34;
    --c8cW: 168,168,168;
    --ce3W: 239,239,239;
    --jd9W: 0,0,0;
    --j64W: 54,54,54;
    --a97W: 243,243,243;
    --d20W: 38,38,38;

    --f52W: 142,142,142;
    --h1dW: 255,255,255;
    --de5W: 255,255,255;
    --d69W: 0,149,246;
    --b86W: 88,195,34;
    --i30W: 237,73,86;
    --d62W: 255,255,255;
    --e4fW: 54,54,54;
    --a72W: 255,255,255;
    --ie3W: 142,142,142;
    --c37W: 237,73,86;
    --f24W: 0,149,246;
    --jbbW: 53,121,234;
    --ecaW: 255,255,255;
    --jb7W: 0,0,0;
    --fa7W: 224,241,255;
    --ba8W: 168,168,168;
    --eacW: 237,73,86;

    /*colors*/
    --white: #fff;

    /*height*/
    --hg-btn-valid: 25px;
    --hg-btn-not-active: 25px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.disabled {
    background-color: var(--button-auth-color);
    color: var(--white);
    height: var(--hg-btn-not-active);
    border-radius: 8px;
    margin: .5rem .9rem;
    width: 35%;
    opacity: 0.5;
    cursor: auto;
}

.available {
    background-color: var(--header-background-color);
    color: var(--color-bor);
    border-radius: 8px;
    width: 100%;
    height: var(--hg-btn-valid);
    border-radius: 8px;
    margin: .5rem .9rem;
    opacity: 1;
    cursor: pointer;
}