*,
::after,
::before {
    border: 0;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    outline: 0;
}

body {
    background-image: url('../assets/background.jpeg');
    //background-repeat: no-repeat;
    overflow: hidden;
    z-index: 1;
}

$grad-slytherin: linear-gradient(135deg, #1C792B 0%, #82E95E 100%);
$grad-griphyndor: linear-gradient(358.61deg, #FF0000 4.67%, #FED482 96.97%);
$grad-hufflepuff: linear-gradient(135deg, #FFC700 0%, #FFF388 100%);
$grad-ravenclaw: linear-gradient(135deg, #0597B7 0%, #66D1FF 100%);

:root {
    --grad-slytherin: #($grad-slytherin);
    --grad-griphyndor: #($grad-griphyndor);
    --grad-hufflepuff: #($grad-hufflepuff);
    --grad-ravenclaw: #($grad-ravenclaw);
}

li {
    list-style: none;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}



.disabled {
    background-color: var(--button-auth-color);
    color: var(--white);
    height: var(--hg-btn-not-active);
    border-radius: 8px;
    margin: .5rem .9rem;
    width: 35%;
    opacity: 0.5;
    cursor: auto;
}

.available {
    background-color: var(--header-background-color);
    color: var(--color-bor);
    border-radius: 8px;
    width: 100%;
    height: var(--hg-btn-valid);
    border-radius: 8px;
    margin: .5rem .9rem;
    opacity: 1;
    cursor: pointer;
}

.flex-direction-respon {
    display: flex;
    flex-direction: column !important;
}

.capitalize{
    text-transform: uppercase;
}
