.fav-item {
    width: 281px;
    background: #6B63B5;
    height: 40px;

    &--sub {
        display: flex;
        align-items: center;
    }

    &--img {
        height: 52px;
        width: 38px;
    }

    &--name {
        width: 174px;
        height: 40px;
    }

    &--ic {
        width: 18px;
        height: 13px;
        border: 2px solid #FFFFFF;
        border-radius: 2px;
    }
}